@use "../../../../assets/sass/breakpoints.scss" as bp;

.additional-information {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  margin-top: 2.5rem;

  color: #fff;

  @include bp.max-xl {
    gap: 0.3rem;
  }

  @include bp.max-md {
    flex-direction: column;
  }

  .location-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-style: solid;
    border-color: #fff;

    @include bp.md {
      border-right-width: 2px;
      padding-right: 1.25rem;
    }

    @include bp.xl {
      border-right-width: 4px;
    }

    @include bp.max-md {
      border-bottom-width: 2px;
      padding-bottom: 0.5rem;
    }

    @include bp.max-lg {
      justify-content: space-between;
    }

    @include bp.max-xl {
      justify-content: center;
    }
  }

  .social-networks {
    display: flex;
    width: 100%;

    @include bp.md {
      gap: 0.75rem;
      padding-left: 1.25rem;
    }

    @include bp.max-md {
      justify-content: space-between;
      padding: 0.375rem 0;
    }
  }
}
