.faq {
  padding: 3rem;
  border-radius: 50px 50px 0 0;
  background:
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(199deg, #9e5cfc 5.17%, #6246f8 50%, #a394fd 94.83%);
  box-shadow: 0 -6px 20px 5px rgba(0, 0, 0, 0.3);
}
