@use "./breakpoints.scss" as bp;

:root {
  --general-x-padding: 1rem;

  @include bp.lg {
    --general-x-padding: 3rem;
  }

  @include bp.xl {
    --general-x-padding: 5rem;
  }
}

body {
  color: #fff;
  font-family: "Creato Display";
  font-weight: lighter;
}
