@use "../../../../assets/sass/breakpoints.scss" as bp;

.main {
  width: 100vw;
  height: 100dvh;
  min-height: 700px;
  overflow-x: hidden;
  background-image: url("../../../../assets/images/fondo-contador-tablet-movil.svg");
  background-size: cover;

  @include bp.lg {
    background-image: url("../../../../assets/images/fondo-contador-desktop.svg");
  }
}
