@use "../../../../assets/sass/breakpoints.scss" as bp;

.item {
  margin-bottom: 1.25rem;
  display: flex;
  color: #fff;
  border-color: #fff;
  border-bottom-width: 2px;
  padding-bottom: 1px;

  @include bp.md {
    padding-bottom: 0;
  }

  @include bp.lg {
    border-bottom-width: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .number {
    --font-size: 3rem;
    width: 20%;
    display: flex;
    align-items: flex-end;

    font-size: var(--font-size);
    line-height: var(--font-size);
    font-weight: bold;

    @include bp.md {
      --font-size: 4.5rem;
      width: 23%;
    }

    @include bp.lg {
      --font-size: 8rem;
      width: unset;
    }
  }

  .label {
    font-size: 1.25rem;
    font-weight: lighter;
    display: flex;
    align-items: flex-end;
    justify-content: start;

    @include bp.md {
      margin-left: 0;
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }

    @include bp.lg {
      display: block;
      align-items: unset;
      padding-bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 1.875rem;
    }
  }
}
