@use "../../../../assets/sass/breakpoints.scss" as bp;

.countdown {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  justify-content: space-between;
  font-family: Nexa;

  @include bp.lg {
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
  }

  .item {
    color: #fff;

    @include bp.max-lg {
      &:first-of-type {
        width: 100%;
        display: grid;
        grid-template-columns: 55% 1fr;
        gap: 15px;
        margin-bottom: 1.2rem;

        .number {
          text-align: end;
          font-size: 12rem;
          line-height: 9rem;

          @include bp.md {
            font-size: 15rem !important;
            line-height: 11rem !important;
          }
        }

        .label {
          display: flex;
          align-items: flex-end;
          font-size: 5rem;
          line-height: 3rem;
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          font-family: "Creato Display";

          @include bp.md {
            font-size: 6rem !important;
            line-height: 5rem !important;
          }
        }
      }

      &:not(:first-of-type) {
        text-align: center;
        width: 14vw;

        @include bp.md {
          .number {
            font-size: 4.5rem !important;
            line-height: 3.5rem !important;
          }
        }

        .number {
          font-size: 2.5rem;
          line-height: 2rem;
        }

        .label {
          font-size: 0.8rem;
          line-height: 0.8rem;
        }
      }
    }

    @include bp.lg {
      width: fit-content;
      display: flex;
      flex-direction: column;

      &:not(:first-of-type) {
        width: 155px;
      }
    }

    .number {
      font-weight: bold;

      @include bp.lg {
        font-size: 6rem;
        line-height: 4.5rem;
        text-align: center;
      }
    }

    .label {
      font-weight: lighter;
      text-align: center;

      @include bp.lg {
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        padding-top: 10px;
      }
    }
  }
}
