@use "../../../../assets/sass/breakpoints.scss" as bp;

.item {
  margin-bottom: 1.25rem;
  color: #fff;
  border-color: #fff;
  border-bottom-width: 2px;
  padding-bottom: 5px;
  display: flex;
  gap: 1.75rem;

  @include bp.md {
    padding-bottom: 0;
  }

  @include bp.lg {
    border-bottom-width: 0;
  }

  .number {
    width: 9vh;
    display: inline-flex;
    align-items: flex-end;
    position: relative;

    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: bold;
    font-family: Nexa;

    @include bp.md {
      font-size: 4.5rem;
      line-height: 3.6rem;
      width: min(14vw, 14vh);
    }

    @include bp.lg {
      font-size: 6.5rem;
      line-height: 5rem;
      width: unset;
      text-align: center;
      display: block;
    }

    @include bp.xxl {
      font-size: 8rem;
      line-height: 7rem;
    }

    .label {
      --offset: 120%;

      display: inline-flex;
      align-items: flex-end;
      justify-content: start;

      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(var(--offset));
      width: 100%;

      font-size: 1.25rem;
      font-weight: lighter;
      line-height: 1.25rem;

      @include bp.sm {
        --offset: 100%;
      }

      @include bp.md {
        margin-left: 0;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
      }

      @include bp.lg {
        display: block;
        align-items: unset;
        right: unset;
        left: 0;
        transform: translateY(125%);

        width: 100%;
        padding-bottom: 0;

        text-align: center;
        font-size: 1.875rem;
        line-height: 1.875rem;
      }

      @include bp.xxl {
        font-size: 2.25rem;
      }
    }
  }
}
