@use "../../../../../assets/sass/breakpoints.scss" as bp;

.category-item {
  position: relative;
  display: block;
  font-family: Nexa;

  &:hover {
    svg {
      filter: brightness(0.92);
    }
  }

  svg {
    -webkit-transition: filter 0.5s ease;
    -moz-transition: filter 0.5s ease;
    -ms-transition: filter 0.5s ease;
    -o-transition: filter 0.5s ease;
    transition: filter 0.5s ease;
  }

  .luces {
    position: absolute;
    top: 5px;
    left: 1rem;
    font-size: 0.8rem;
    z-index: 5;

    @include bp.lg {
      font-size: 1.2rem;
      top: 1rem;
      left: 2rem;
    }

    @include bp.xl {
      font-size: 1.7rem;
      top: 0.8rem;
      left: 2.2rem;
    }
  }

  .category-item-circle {
    width: 32%;
    position: absolute;
    top: -3%;
    right: -2px;
    aspect-ratio: 1 / 1;
  }

  .label {
    width: 100%;
    position: absolute;
    bottom: 0.75rem;

    z-index: 5;

    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;

    @include bp.lg {
      font-size: 1rem;
      bottom: 1.25rem;
    }

    @include bp.xl {
      font-size: 1.7rem;
      bottom: 1.5rem;
    }
  }
}
