@use "../../../assets/sass/breakpoints.scss" as bp;

.profile-card {
  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr;

  border-radius: 40px;
  /* Usamos un pseudo-elemento para renderizar el borde con gradiente
    y mantener el border-radius correctamente */
  position: relative;
  padding: 0.5rem;
  padding-top: 0.65rem;
  padding-bottom: 1rem;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.7) -3%,
    rgba(152, 75, 250, 0.7) 51.68%,
    rgba(96, 31, 255, 0.7) 106.36%
  );
  backdrop-filter: blur(7.017543792724609px);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    box-shadow:
      -8px -8px 20px 0 rgba(255, 255, 255, 0.25),
      8px 8px 20px 0 rgba(255, 255, 255, 0.25);
  }

  /* pseudo-elemento para borde con gradiente */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2.278px; /* grosor del borde */
    border-radius: 40px;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    background: linear-gradient(to right, #7f49ff 0%, #a680ff 100%);
    z-index: 0;
  }

  /* Asegurar que el contenido quede por encima del pseudo-elemento */
  > * {
    position: relative;
    z-index: 1;
  }

  .images-container {
    position: relative;

    .profile-img {
      position: absolute;
      left: 2%;
      bottom: 4%;
      width: 23%;
      border-radius: 100%;
      z-index: 2;

      box-shadow: 0 9.11px 18.221px 2.278px rgba(0, 0, 0, 0.3);
    }
  }
}
