.search-input {
  display: flex;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 100px;
  padding: 0.5rem;
  color: #000;
  align-items: center;
  height: fit-content;

  input {
    display: block;
    outline: none;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  label svg {
    scale: 0.6;
  }
}
